.topic-area {
  .ai-summary-box {
    background-color: var(--secondary-very-high);
    padding: 5px;
    border-radius: 5px;
  }
  span.ai-summary-title {
    font-weight: bold;
  }
  span.ai-summary {
    font-weight: normal;
  }
}
